<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="shero_ip" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Geo Ip Configuration</label>
            <tab>shero_base</tab>
            <resource>Shero_Ip::ip_configuration</resource>
            <group id="ip_general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="redirect_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Redirect to</label>
                    <validate>validate-url</validate>
                    <comment>Add an URL or file name. ex: http://www.example.com or example.html. If blank the page will redirect to our default block page.</comment>
                </field>

                <field id="country" translate="label" type="multiselect"
                       sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Country</label>
                    <!-- Source model for countries list. For custom list you need to use your own source model -->
                    <source_model>Magento\Config\Model\Config\Source\Locale\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
        </section>
    </system>
</config>