<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="besi_form" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Add Customer Attribute</label>
            <tab>shero_base</tab>
            <resource>Besi_Customerattribute::besi_content</resource>
            <group id="besi_general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="besi_add_customer" translate="label" type="text" sortOrder="10" showInDefault="1"
                   showInWebsite="0" showInStore="0">
                <label>Add new Customer Attribute</label>
                <field id="besi_attribute_value" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Attribute Name</label>
                    <can_be_empty>0</can_be_empty>
                    <validate>required</validate>
                    <comment>Add Customer Attribute Value.</comment>
                </field>
                <field id="besi_attribute_pages" translate="label" type="multiselect" sortOrder="50" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Show in Pages</label>
                    <!-- Source model for customer pages list.-->
                    <source_model>Besi\Customerattribute\Model\Config\Source\ListMode</source_model>
                    <comment>If empty it will be applied to all the possible customer pages.</comment>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
            <group id="besi_attributes_list" translate="label" type="text" sortOrder="10" showInDefault="1"
                   showInWebsite="0" showInStore="0">
                <label>Customer Attribute List</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Show Customer Attributes</label>
                    <comment>Ketu do shfaqet lista e attributeve te shtuara nga ky extension!</comment>
                </field>
            </group>
        </section>
    </system>
</config>